.toggle,
.todo-text,
.delete {
  display: inline-block;
}

.view {
  width: 50%;
  float: left;
}

.segment-buttons {
  width: 50%;
  float: right;
}
button {
  float: right;
}

li {
  width: 100%;
  border: 1px solid black;
  padding: auto;
  margin: 10px;
}

.done-list li .view {
  text-decoration: line-through;
}
